In [125]:
from utils import first_block_of_day, last_block_of_day, rpc_to_parity
from utils import exeSQL, drop_table, exeMultipleSQL
from utils import map_args_group
from tqdm import tqdm_notebook as tqdm

date_start = '2017-01-01'
date_end = '2017-03-31'
block_start = first_block_of_day(int(date_start[:4]), int(date_start[5:7]), int(date_start[8:10]))
block_end = last_block_of_day(int(date_end[:4]), int(date_end[5:7]), int(date_end[8:10]))

In [106]:
table_name = "txs_20170101_20170331"
par = 20

In [143]:
print  (block_start, block_end)

2912407 3454528

In [107]:
def create_txs_table(table_name):
    create_txs_sql = """CREATE TABLE {} ( `id` int(11) NOT NULL AUTO_INCREMENT,
                `source` char(42) NOT NULL, `target` char(42) NOT NULL, `amount` varchar(32) NOT NULL, 
                `tx` char(66) NOT NULL, `block_num` int(11) NOT NULL, `tx_seq` int(11) NOT NULL, 
                PRIMARY KEY (`id`), KEY `block_num_index` (`block_num`), 
                FULLTEXT `target_index` (`target`), FULLTEXT `source_index` (`source`), 
                FULLTEXT `tx_index` (`tx`) ) ENGINE=InnoDB""".format(table_name)
    exeSQL(create_txs_sql, True)

In [140]:
recreate = True
if recreate:
    drop_table(table_name)
    create_txs_table(table_name)

In [109]:
def fetch_fields_from_txs(txs):
    entries = []
    for tx in txs:
        tmp_en = [tx['from'], tx['to'], tx['value'], tx['hash'], 
                  str(int(tx['blockNumber'], 16)), str(int(tx['transactionIndex'], 16))]
        entries.append(tmp_en)
    return entries

In [141]:
def insert_entries(entries, table_name):
    insert_entries_sqls = []
    for en in entries:
        sql = """INSERT INTO {} (source, target, amount, tx, block_num, tx_seq) 
            VALUES ('{}', '{}', '{}', '{}', '{}', '{}')""".format(table_name, *en)
        insert_entries_sqls.append(sql)
    exeMultipleSQL(insert_entries_sqls, True)

In [135]:
def fetch_reward_txs(block_num):
    def parse_action_reward(dict_obj, index):
        dict_action = dict_obj['action']
        if dict_action['rewardType'] == 'block': # reward-block txs are tagged by -1
            return dict_action['author'], dict_action['value'], -1
        elif dict_action['rewardType'] == 'uncle': # reward-uncle txs are tagged by -2, -3
            return dict_action['author'], dict_action['value'], index
        else:
            print ("Error................. neither block-reward nor uncle-reward {}".format(str(block_num)))
            return None
        
    method = 'trace_block'
    params = [hex(block_num)]
    actions = rpc_to_parity(method, params).json()['result']
    reward_entries = []
    uncle_index = -2
    for act in actions:
        if act['type'] == 'reward':
            t, v, i = parse_action_reward(act, uncle_index)
            tmp_index = ['0x0000000000000000000000000000000000000000', t, v, 'None', block_num, i]
            if i == -1:
                reward_entries.append(tmp_index)
            else:
                reward_entries.insert(0, tmp_index)
                uncle_index -= 1
    return reward_entries

In [136]:
def parse_blocks(block_start, block_end, table_name):
    for bn in tqdm(range(block_start, block_end)):
        method = 'eth_getBlockByNumber'
        params = [hex(bn), True]
        result = rpc_to_parity(method, params).json()['result']
        txs = result['transactions']
        entries = fetch_fields_from_txs(txs)
        reward_entries = fetch_reward_txs(bn)
        total_entries = reward_entries
        total_entries.extend(entries)
#         entries.insert(0, ['0x0000000000000000000000000000000000000000', result['miner'], str(3), 'None',
#                         str(int(result['number'], 16)), str(-1)])
        insert_entries(total_entries, table_name = table_name)

In [137]:
parse_blocks(4806832, 4806833, table_name=table_name)

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x0000000000000000000000000000000000000000', '0x9435d50503aee35c8757ae4933f7a0ab56597805', '0x29a2241af62c0000', 'None', '4806832', '-1')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x0fd081e3bb178dc45c0cb23202069dda57064258', '0x6a2c747e4ee99962a6a81d18931ef96bbfc84132', '0x2985b825cff80000', '0x8b923db599b6e7cfcc5dbd3187a7d20f142d7bf58f1bd86a4035ddc50f6049a9', '4806832', '0')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x0fd081e3bb178dc45c0cb23202069dda57064258', '0xcda36ed11428bf6637bc4de5550d967ac5a2b5db', '0xc52cf4b908c0000', '0x1d49e0e36b53c17cf87c8e6e91890b4132a39f923b0ed683e8b0926a15414ce0', '4806832', '1')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xa30d8157911ef23c46c0eb71889efe6a648a41f7', '0x442bc47357919446eabc18c7211e57a13d983469', '0x0', '0x2a46167b4e44c04353b0de40f2505f01ac29b73f685939143e1ed83c496f54b8', '4806832', '2')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xa30d8157911ef23c46c0eb71889efe6a648a41f7', '0xe0b7927c4af23765cb51314a0e0521a9645f0e2a', '0x0', '0x5569fd7adc4f441be8d53b75855d49015541b038d1b39d5368f683544703b4ac', '4806832', '3')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0x3596847987e313b23279efe773903c4f12916dc2', '0x2d93cc63442000', '0x81ebd036f85f27cd3869f8ff733c9712a5cb53ccabbb518804e3d66ef506d058', '4806832', '4')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0x3e944e8bdd4bc135f43fee90536aebec75d199bb', '0x12da21308c342400', '0x96af0ed6e780e361a566dae3e135fdb4b57da6349cbd660a0dae748899b56ce1', '4806832', '5')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0x6ef2af8f4637ced741472eb13ccb35703859b89f', '0x88be2b4bf70400', '0xe9a9e631b0e973afbfb6324b43a180484814db9888d934f38ce02d684d7c3f18', '4806832', '6')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0x80a71391c7c2beba47e357ad638c1b5df48ca94a', '0xddc87be96073c00', '0xb7dcfc01d46a64ce0c9a3b36f43e84986847211d8dcff540247c332011dd54a7', '4806832', '7')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0xa8215d135abf2776bfca5bf4e50d7ee4e659f616', '0x42bcd253eb8000', '0x6e8b709e93ea76063800b94018d76b84e7a564e4e5ca2c263c8f626a9d6216b1', '4806832', '8')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0xc2cf35d4a583c3902edacb73aaee2c913f32dce4', '0x2c9356cd884800', '0xc385702d557352399fc324b22e99975c1ba770c66822e9998ecbc129bda05086', '4806832', '9')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0xe4cfdaf5f656f65f21d04af3924aa9e3d5828ed0', '0x17135d16d096000', '0xbfebcad03665913a09f31754dc40eb565457994ae5e6faf689bbec5dd9d7be9f', '4806832', '10')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xb2930b35844a230f00e51431acae96fe543a0347', '0xe6c80d5ae25a6e770b1f863d381b3328305485d0', '0x1d7f08c703f400', '0x4a635a5ee126c7b19108307aa3564bddff68b84b5bd2bfd4d00534cc2d1cbd00', '4806832', '11')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x6d91f54040d517e2da18aff74f1a6ecd087b839d', '0x8d12a197cb00d4747a1fe03395095ce2a5cc6819', '0x0', '0x27ebff2d6c2253c39f18bf04ef20be1b925da05e9a1667b843e1e6277436f6d3', '4806832', '12')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x2412f8511ea0cc48a22b6e1926c51916e3fccae2', '0x8d12a197cb00d4747a1fe03395095ce2a5cc6819', '0x0', '0x17cb135e01e4fa172dfcabaa0643acafd391ea5e5db7c4f3ec9f6a82ef6f50ab', '4806832', '13')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x2412f8511ea0cc48a22b6e1926c51916e3fccae2', '0x12480e24eb5bec1a9d4369cab6a80cad3c0a377a', '0x0', '0xb1650ad729624603110c6224b7cce7cba3bb6eb001484faa4c4f07b429d7c8d8', '4806832', '14')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x167a9333bf582556f35bd4d16a7e80e191aa6476', '0x1a97002f670b27569a54d67e2b76c1111756a67f', '0x123223c038179c000', '0xea84c5bb73fb007579db2a429caf464f96ae2a5b8703e710e0ea1dbcdcced2a8', '4806832', '15')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x80e29acb842498fe6591f020bd82766dce619d43', '0x03ffaba2d4384688f873a1ae86ff6c29868a19a7', '0xefcee47256c0000', '0x13a008856fcf2f1a942e4b8d45f37b8704024d8caa47a1bf315e16531f031bbd', '4806832', '16')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x75e7f640bf6968b6f32c47a3cd82c3c2c9dcae68', '0xf3574cf3bcb6478e1f06956bb65ab1b7c8920206', '0x4092f9c77000000', '0x4b5fa7e4a64d0bdcdffb5cfaac13303012e94e358ae1666f18566e4289c6eba3', '4806832', '17')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x8073a86105b5465c998990764c7a8f52fa98142b', '0x2a303fe4b530000', '0x64536b99b162a93a445f46447f04131671080241e0aaeff7fdb23ffbc7cc9140', '4806832', '18')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xf230b790e05390fc8295f4d3f60332c93bed42e2', '0x0', '0xcd7386ad05d708831ac33e82d9cdf76c584bb196308d6446c32004efccde54a5', '4806832', '19')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x0750afeb719511afca19facb40e84b657efed0a5', '0x44004c09e76a0000', '0x14a1e49574d76f97604df6ad55caf9d43a431af86f4b0cdfc227e3f6301be41f', '4806832', '20')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x6fe242a97140b9e3a8675da764dbdd6e990e28a3', '0x6f05b59d3b20000', '0x40ecd1b1d858dfc60f9ce7dfac1ea2dd06bf947160640d29f3c40311123875a7', '4806832', '21')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x15f7af7ab409a23e21127de018ab5c977b2bfab8', '0x16345785d8a0000', '0xd475df2039ff78e3c91a317d03d5c4079263fc2cee4e6571688e815bc045c536', '4806832', '22')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xd4c435f5b09f855c3317c8524cb1f586e42795fa', '0x0', '0x3be61e55b24703c0420fa58c0845d2011d6dcd02696e790faaedc1e53f87e323', '4806832', '23')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x75dc8844b9b1d19ad3197cd41c9eaa1aa6afec04', '0x1695b751427ca000', '0xa3182d9a00121f78fcf7e6a5d0dd39c07c501b4cc8d969794268aa21ce71dd9e', '4806832', '24')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xa2562b0268a9a5ab4321620ca6455983906ccce0', '0x7b1d80aca626400', '0x4a5cc147741b5fe027c604d2fc603a3c831d488658d187b3f173a1e354ed1f94', '4806832', '25')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x4e0591ae126cdecfaca27495eb9e87fb90df1727', '0x3cf5cf76a1f400', '0xf8595b379882d007ec75f124149350284fbde155abb72c7cdf7fd693b5180213', '4806832', '26')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x951d75ea05732918ae629185c2b4730b765ed5e1', '0x19608e53f79b4800', '0x221d94d8165a319fbb984add96bc0df0c5317e947484cb9ef50919bbbb68ff8f', '4806832', '27')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xe30db62af4e676492ca77f431a9aeb90557e3f4a', '0x2a794e0f70dd7400', '0xf0f9eaab598f4083502595d133ebeb0bc0403730b356d510241ee96a62e26569', '4806832', '28')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xe2e524b92968dbfc53c1b73d82857a636c33f609', '0x4c3a248c2cf4c00', '0xc2f1506fbec39d82d070826dd29ff0bb3525bce4dc96b22055541eb3ab05a7fc', '4806832', '29')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x9a9bec8a6fd91c396fae50759a1c820337cb5dda', '0x18de76816d80000', '0xd2b830b0d6d3119c958a840dc0ebdaf727c58c62f75ca70d66f9c24935586fa4', '4806832', '30')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x54cd1da355c89bfcb2fd8190bed4f718d314860f', '0x310d4af0a665c000', '0x4bc573ad83a05974c0a63fe2e4ee1d6b38420b8283661da01749c40eac6583e8', '4806832', '31')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xd850942ef8811f2a866692a623011bde52a462c1', '0x0', '0x4447a23c23e7877371e90bca3580723d6817ad6fc3b4ff4312e4a618977c5ce0', '4806832', '32')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x595832f8fc6bf59c85c527fec3740a1b7a361269', '0x0', '0x8b63cf369a17aef3fb9565a5898b3fc740e9fc7a541e4b85e83db879ad1eec63', '4806832', '33')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x5af2be193a6abca9c8817001f45744777db30756', '0x0', '0x6b51a8e59adf1e1221a64fffe06a40ea32f03bac3bb393b58b05f42420df5765', '4806832', '34')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x419d0d8bdd9af5e606ae2232ed285aff190e711b', '0x0', '0xc0ef4462a89cdd0d09257c5ac2d6171372f3fcddf63b0ca9e8f7d17d63e1cf50', '4806832', '35')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0', '0x0', '0x5c91d6db904a78a110364145677eea4bf6cda32271f7d7d5178b4ac78f2b65ea', '4806832', '36')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0', '0x0', '0xcff1faf71b65c3f09c872bb67c84b0bfab2bc083dc27a2189d46d6043842279c', '4806832', '37')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x0e0989b1f9b8a38983c2ba8053269ca62ec9b195', '0x0', '0xe4bcdc8aba521db18114015e994393e70287fcd59edfc63b179db2fd3160392d', '4806832', '38')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x4156d3342d5c385a87d264f90653733592000581', '0x0', '0x87d71b3457cdd09f1af511f17d30d2cecb20da83e5b7f25bbbc07fa0a95ea122', '4806832', '39')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0x4470bb87d77b963a013db939be332f927f2b992e', '0x0', '0xaefd88aeb77ff60735dcd88f71ff60e05ea389f4f3f308bd09787a35b7ba99fe', '4806832', '40')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be', '0xd26114cd6ee289accf82350c8d8487fedb8a0c07', '0x0', '0x2246451f470ff0376ad7e779646651c3aff7ea0d1be103912a988b2f96071f3c', '4806832', '41')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xe1844f6f91a85d9138683889edbe642912869251', '0x3a6341d1872eba1a857f91648b674c6519c2afe2', '0x7fb7065cfca000', '0x732c3656dc23322fc0a25622bab761096f7ce0324cbbde75682500b7ad697dfa', '4806832', '42')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0x5663ab60c6a5a995263a839178620f64b36afdd9', '0x061f30179f38f3b9eaa8d3ca656eccee88234a61', '0x429d069189e0000', '0xb22f424368dd235486cb099b519de0324d8e15da872ef57ff5207681ed974078', '4806832', '43')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x41fce76908128912dd21e305b3eabb196d1ceafa', '0x40d64a4d763b400', '0x380cee5e55adeda17861437b70bda08f1ead867bbe81a91f0ac282d13bc50465', '4806832', '44')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x6607ab367c01ed308a08f8b5254127b22a8a8bfe', '0x2c68af0bb140000', '0xcd8aea2522fd28f28d656a223c0ebfecc18bdc3c6981f609490d389674bf4592', '4806832', '45')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x7f47d7696b01f636414e3cf5dc39711b46698c4c', '0x84c85d4e7af0000', '0x2046018ad1ca5b0ffa1b92d44ae4d2a7a398301f3c8c2269f27192b6d6cd5f99', '4806832', '46')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x179167acd255b750d04463a6a631acc2aece41d1', '0xa76f84da543f000', '0xa815a6269004c5e9fe466c40cd56894fd4a46beb79a7a054c92b062d8c92e7d0', '4806832', '47')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x9348794d40ea01a9be85b6d22a2a134ea8979a80', '0x4629188a8a01800', '0xe55bb83f6b758ac0eee87a1bc916ab5634b1158fa2f195c04284f6a1f72b5ad0', '4806832', '48')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x68e92134bfc85a441b3bde83990c57a3f9677210', '0xb4a93a0716090000', '0x11bbbc8c2ec82938c16f59546f81290865b447ef73367764ce46f79ba196374a', '4806832', '49')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x51a129ad91a50741ce73a5f209b3f810859dc089', '0x2b5dc941967fb0000', '0x4e5ae4658ea907bbb8058339c0a4a95b9fea205bd76351c65da7beea8616dc14', '4806832', '50')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x8dc370e553f6918e808f6b26555981c38efcf5d8', '0x3782dace9d900000', '0x51366b312617a9c7b355f9b6d55fd4e8dbd166148a95bcd651f80c1aba1d99b2', '4806832', '51')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xdc025adcb0ffba7ca68b6382169c0b945abfa126', '0x1260166fd3f2a000', '0xa51dd0072b78c63d31a9e136459e221c5e48f2f88f2eeb756d77c105157a4017', '4806832', '52')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x83dc512982888b2d70201fca155531afdcdedd3e', '0x3813bfa39615000', '0xd17d2f0e88ce513909c2dd889725c3252f745f2ef3e067c7ce23462327a53663', '4806832', '53')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x3ff740ba7b1d0902a04d4b7bde565e05008ff9b8', '0x4a0da4b7245dc00', '0x65499c3fbb9987f22ccde564ece79416ad8541e6ed0dfeb66d7afdf49ce6c2c0', '4806832', '54')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xc601b4b5aa323edadb5abd942e9cd8848893e728', '0xa740e84848cb000', '0x4166c468acfe22d71f8bb9197536efb957691956346c7b8d99b70fd07c8aaa34', '4806832', '55')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x9028c869f650230bcc91294cbc9ee7391035be25', '0x1360c62818af800', '0xee1012fec565c547e23a266580409fd214ab2be4c02626ff5a2daeeee8476dc0', '4806832', '56')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x675b30ae6b4b7c050d672402024331c1936a215f', '0x6dd5dfbc4c45c00', '0x9e57813037ead43811c51286b28078340f9cfb9d92a73334700c3ededa58aa09', '4806832', '57')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xf27a9d991bf2e0de0b7f535b41b9828ad3b424d6', '0x6e9e01199c46000', '0x862d0c4e7ba33c4345b7315d9d1986fac8fd5d6e367b943efa3589fbf93de5f0', '4806832', '58')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xf961fbc840e6daac79153abf93e8319cfc4fb430', '0x2a09ed93000a000', '0xf18bb6ce709e34aeea01c35255b18f7a49bf339e93468b2acba6fc401683b860', '4806832', '59')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x4efb8383c2fc83b68b50b1a7558cc29c1e9a0096', '0x115872b0bca430000', '0xf52c61506277c2d7f4d47e8842af6ed1d05b5631f080606f5094632b9de03724', '4806832', '60')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xfbda9397fa34f7376377be3975c6c3fe60240722', '0x611de3ec4a2f0000', '0x1d8c612fdd8651d1a62abe6a2d3155ba89dcafe1986ab74a726cea8a56098d5d', '4806832', '61')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x98ca65d6036025e0bec2df024083bcdf1d350c9d', '0x3389ef32fc101400', '0x7be0079a6824dff21ff12180fef6a582ae7887fd354a9054b41fc752293c4da0', '4806832', '62')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0xbbbfc544f951b1b00539dcb963045c39d6dd5f82', '0x3ff2e795f50000', '0x90b9c01c043c2214a0be0433c21eff4d76161c06cef06a40254a4f241943fc31', '4806832', '63')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x18832ce126964f33011cb67446bb5d319eb750cd', '0x14a6701dc1c8000', '0xaf0602d2955efccd73ac78a102c0ea65cbfafc4ad3b8f005f7c8852460547b8b', '4806832', '64')
INSERT INTO txs_20170101_20170331 (source, target, amount, tx, block_num, tx_seq)
            VALUES ('0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98', '0x90c8d3491a79fbb5c371add89a5cddfb5df047cd', '0x0', '0x405784b5d7f795aff425f65b842ae6ccda4cd1243ae54567768c2d473aa228a9', '4806832', '65')

In [142]:
interval_start = block_start
flag = True

while(flag):
    if interval_start + 600 >= block_end + 1:
        interval_end = block_end + 1
        flag = False
    else:
        interval_end = interval_start + 600
    print ("Blocks from {} to {} are in process!".format(interval_start, interval_end))
    args_groups_list = []
    sub_range_len = (interval_end - interval_start) // par
    for i in range(par-1):
        tmp_group = [i*sub_range_len+interval_start, (i+1)*sub_range_len+interval_start, table_name]
        args_groups_list.append(tmp_group)
    tmp_group = [(par-1)*sub_range_len+interval_start, interval_end, table_name]
    args_groups_list.append(tmp_group)
    print (map_args_group(args_groups_list, parse_blocks))
    interval_start += 600

Blocks from 2912407 to 2913007 are in process!
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
Blocks from 2913007 to 2913607 are in process!
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
Blocks from 2913607 to 2914207 are in process!
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
Blocks from 2914207 to 2914807 are in process!
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
Blocks from 2914807 to 2915407 are in process!

Process ForkPoolWorker-212:
Process ForkPoolWorker-207:
Process ForkPoolWorker-219:
Process ForkPoolWorker-208:
Process ForkPoolWorker-213:

KeyboardInterrupt:

Process ForkPoolWorker-206:
Process ForkPoolWorker-222:
Process ForkPoolWorker-223:
Process ForkPoolWorker-215:
Process ForkPoolWorker-220:
Process ForkPoolWorker-209:
Process ForkPoolWorker-217:
Process ForkPoolWorker-210:
Process ForkPoolWorker-205:
Process ForkPoolWorker-221:
Process ForkPoolWorker-211:
Process ForkPoolWorker-218:
Process ForkPoolWorker-224:
Process ForkPoolWorker-214:
Process ForkPoolWorker-216:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
Traceback (most recent call last):
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
TypeError: getresponse() got an unexpected keyword argument 'buffering'
Traceback (most recent call last):
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
TypeError: getresponse() got an unexpected keyword argument 'buffering'
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
Traceback (most recent call last):

During handling of the above exception, another exception occurred:

TypeError: getresponse() got an unexpected keyword argument 'buffering'

During handling of the above exception, another exception occurred:

  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)

During handling of the above exception, another exception occurred:

  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))

During handling of the above exception, another exception occurred:


During handling of the above exception, another exception occurred:

  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 377, in _make_request
    httplib_response = conn.getresponse(buffering=True)
Traceback (most recent call last):
Traceback (most recent call last):

During handling of the above exception, another exception occurred:

TypeError: getresponse() got an unexpected keyword argument 'buffering'
Traceback (most recent call last):
  File "<ipython-input-136-f69722aa06b9>", line 13, in parse_blocks
    insert_entries(total_entries, table_name = table_name)
Traceback (most recent call last):
Traceback (most recent call last):
  File "<ipython-input-136-f69722aa06b9>", line 13, in parse_blocks
    insert_entries(total_entries, table_name = table_name)
  File "<ipython-input-136-f69722aa06b9>", line 13, in parse_blocks
    insert_entries(total_entries, table_name = table_name)
TypeError: getresponse() got an unexpected keyword argument 'buffering'
TypeError: getresponse() got an unexpected keyword argument 'buffering'
TypeError: getresponse() got an unexpected keyword argument 'buffering'
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "<ipython-input-136-f69722aa06b9>", line 13, in parse_blocks
    insert_entries(total_entries, table_name = table_name)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
TypeError: getresponse() got an unexpected keyword argument 'buffering'

During handling of the above exception, another exception occurred:

TypeError: getresponse() got an unexpected keyword argument 'buffering'
TypeError: getresponse() got an unexpected keyword argument 'buffering'
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()

  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
Traceback (most recent call last):

During handling of the above exception, another exception occurred:

  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "<ipython-input-141-fb5f330047b2>", line 7, in insert_entries
    exeMultipleSQL(insert_entries_sqls, True)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "<ipython-input-141-fb5f330047b2>", line 7, in insert_entries
    exeMultipleSQL(insert_entries_sqls, True)
  File "<ipython-input-141-fb5f330047b2>", line 7, in insert_entries
    exeMultipleSQL(insert_entries_sqls, True)

During handling of the above exception, another exception occurred:


During handling of the above exception, another exception occurred:


During handling of the above exception, another exception occurred:


During handling of the above exception, another exception occurred:

  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "<ipython-input-141-fb5f330047b2>", line 7, in insert_entries
    exeMultipleSQL(insert_entries_sqls, True)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):

During handling of the above exception, another exception occurred:

  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)

During handling of the above exception, another exception occurred:

  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
Traceback (most recent call last):
  File "/home/seafooler/parse_data_from_parity/utils.py", line 216, in exeMultipleSQL
    connection.commit()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 216, in exeMultipleSQL
    connection.commit()
  File "/home/seafooler/parse_data_from_parity/utils.py", line 216, in exeMultipleSQL
    connection.commit()
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/home/seafooler/parse_data_from_parity/utils.py", line 216, in exeMultipleSQL
    connection.commit()
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 422, in commit
    self._read_ok_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 422, in commit
    self._read_ok_packet()
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 422, in commit
    self._read_ok_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 422, in commit
    self._read_ok_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 396, in _read_ok_packet
    pkt = self._read_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 396, in _read_ok_packet
    pkt = self._read_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 396, in _read_ok_packet
    pkt = self._read_packet()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 396, in _read_ok_packet
    pkt = self._read_packet()
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']

  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 656, in _read_packet
    packet_header = self._read_bytes(4)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 656, in _read_packet
    packet_header = self._read_bytes(4)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 656, in _read_packet
    packet_header = self._read_bytes(4)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 656, in _read_packet
    packet_header = self._read_bytes(4)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "<ipython-input-136-f69722aa06b9>", line 8, in parse_blocks
    reward_entries = fetch_reward_txs(bn)
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 690, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 690, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 690, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "<ipython-input-136-f69722aa06b9>", line 8, in parse_blocks
    reward_entries = fetch_reward_txs(bn)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/home/seafooler/.local/lib/python3.5/site-packages/pymysql/connections.py", line 690, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 47, in starmapstar
    return list(itertools.starmap(args[0], args[1]))
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "<ipython-input-135-265e228304bf>", line 14, in fetch_reward_txs
    actions = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "<ipython-input-136-f69722aa06b9>", line 8, in parse_blocks
    reward_entries = fetch_reward_txs(bn)
  File "<ipython-input-136-f69722aa06b9>", line 8, in parse_blocks
    reward_entries = fetch_reward_txs(bn)
  File "<ipython-input-135-265e228304bf>", line 14, in fetch_reward_txs
    actions = rpc_to_parity(method, params).json()['result']
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 354, in _make_request
    conn.request(method, url, **httplib_request_kw)
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "<ipython-input-136-f69722aa06b9>", line 5, in parse_blocks
    result = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "<ipython-input-136-f69722aa06b9>", line 8, in parse_blocks
    reward_entries = fetch_reward_txs(bn)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
KeyboardInterrupt
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)

KeyboardInterrupt
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
KeyboardInterrupt
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "<ipython-input-135-265e228304bf>", line 14, in fetch_reward_txs
    actions = rpc_to_parity(method, params).json()['result']
  File "<ipython-input-135-265e228304bf>", line 14, in fetch_reward_txs
    actions = rpc_to_parity(method, params).json()['result']
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3.5/http/client.py", line 1106, in request
    self._send_request(method, url, body, headers)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
KeyboardInterrupt
  File "<ipython-input-135-265e228304bf>", line 14, in fetch_reward_txs
    actions = rpc_to_parity(method, params).json()['result']
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3.5/http/client.py", line 1141, in _send_request
    self.putrequest(method, url, **skips)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/home/seafooler/parse_data_from_parity/utils.py", line 55, in rpc_to_parity
    response = session.post(rpc_ip_port, json=payload, headers=headers)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/lib/python3.5/http/client.py", line 1036, in putrequest
    self.putheader('Host', "%s:%s" % (host_enc, port))
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 511, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3.5/http/client.py", line 1072, in putheader
    if not _is_legal_header_name(header):
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout

  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
KeyboardInterrupt
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/sessions.py", line 576, in send
    r = adapter.send(request, **kwargs)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/lib/python3/dist-packages/requests/adapters.py", line 376, in send
    timeout=timeout
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 380, in _make_request
    httplib_response = conn.getresponse()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 1197, in getresponse
    response.begin()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")

  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
KeyboardInterrupt
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 277, in _read_status
    if not version.startswith("HTTP/"):
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.5/http/client.py", line 258, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/lib/python3.5/socket.py", line 575, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt